/*css variables*/
html {
  --bs-btn-active-bg: #000;
}

/*top level*/
body, html {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a, a:hover {
  transition: all 0.7s;
  -moz-transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
}

a {
  color: #535353;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.small, small {
  font-size: 0.75em;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/*BS5 over rides*/
.btn {
  border-radius: 4px;
  padding: 12.5px 15px;
}

.dropdown-menu {
  border-radius: 0 !important;
}
.dropdown-menu img {
  width: 100%;
}

.dropdown-menu.mega-menu {
  top: 96% !important;
  border: 0;
}

.dropdown-item {
  opacity: 0.8;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: transparent;
  opacity: 1;
}

.p-4 {
  padding: 1.8rem !important;
}

h1 {
  font-weight: 600 !important;
  line-height: 1 !important;
}

h2, h3, h4, h5, small {
  font-weight: 600 !important;
  line-height: 1.2 !important;
}

@media (min-width: 1200px) {
  .h1, h1 {
    font-size: 3.4rem;
  }
}
@media (min-width: 1200px) {
  .h2, h2 {
    font-size: 2.2rem;
  }
}
.container {
  max-width: 1340px !important;
}

.more {
  display: none;
}

/* Override Bootstrap Tooltip background and text color */
.tooltip-inner {
  font-weight: bold;
  padding: 10px 20px;
  background-color: white !important; /* Set the background to white */
  color: black !important; /* Set the text color to black */
  font-size: 13px; /* You can adjust the font size if needed */
  border-radius: 4px; /* Optional: Add rounded corners if desired */
}

.bs-tooltip-auto[data-popper-placement^=top] .tooltip-arrow::before {
  border-top-color: #fff !important;
}

/*custom helpers*/
.light-content h1, .light-content h2, .light-content h3, .light-content h4, .light-content h5, .light-content p, .light-content li {
  color: #fff;
}

@media (min-width: 768px) {
  .large-header-md {
    font-size: 80px;
  }
}

.light-grey {
  color: #b6b6b6;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-30px {
  margin-top: 30px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-60px {
  margin-top: 60px;
}

.mb-10px {
  margin-bottom: 10px;
}

.mb-20px {
  margin-bottom: 20px;
}

.mb-30px {
  margin-bottom: 30px;
}

.mb-40px {
  margin-bottom: 40px;
}

.max-width-100px {
  max-width: 100px;
}

.max-width-50pc {
  max-width: 50%;
}

.max-width-200px {
  max-width: 200px;
}

.max-width-320px {
  max-width: 320px;
}

.max-width-380px {
  max-width: 380px;
}

.max-width-420px {
  max-width: 420px;
}

.max-width-480px {
  max-width: 480px;
}

.max-width-780px {
  max-width: 780px;
}

.max-width-980px {
  max-width: 980px;
}

.max-width-1200px {
  max-width: 1200px;
}

.min-height-200px {
  min-height: 200px;
}

.min-height-220px {
  min-height: 220px;
}

.min-height-280px {
  min-height: 280px;
}

.min-height-300px {
  min-height: 300px;
}

.min-height-320px {
  min-height: 320px !important;
}

.min-height-360px {
  min-height: 360px;
}

.min-height-400px {
  min-height: 400px;
}

.min-height-420px {
  min-height: 420px;
}

.min-height-460px {
  min-height: 460px;
}

.min-height-640px {
  min-height: 640px;
}

.max-height-60px {
  max-height: 60px;
  width: auto;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.pr {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 20px;
}

.color-1 {
  color: #EFDBB2;
}

.color-2 {
  color: #EBC8AC;
}

.color-3 {
  color: #8C381C;
}

.color-4 {
  color: #A66372;
}

.color-5 {
  color: #C07C70;
}

.color-6 {
  color: #C3C6A8;
}

.color-7 {
  color: #A2AAAD;
}

.color-8 {
  color: #87968E;
}

.color-9 {
  color: #527A8A;
}

.color-10 {
  color: #2A5B6C;
}

.color-11 {
  color: #071437;
}

.color-gray-1 {
  color: #F7F7F7;
}

.bg-color-1 {
  background-color: #EFDBB2;
}

.bg-color-2 {
  background-color: #EBC8AC;
}

.bg-color-3 {
  background-color: #8C381C;
}

.bg-color-4 {
  background-color: #A66372;
}

.bg-color-5 {
  background-color: #C07C70;
}

.bg-color-6 {
  background-color: #C3C6A8;
}

.bg-color-7 {
  background-color: #A2AAAD;
}

.bg-color-8 {
  background-color: #87968E;
}

.bg-color-9 {
  background-color: #527A8A;
}

.bg-color-10 {
  background-color: #2A5B6C;
}

.bg-color-11 {
  background-color: #071437;
}

.bg-color-gray-1 {
  background-color: #F7F7F7;
}

.bg-colour-offblack {
  background-color: #1B1C1E;
}

.gray {
  color: #989898;
}

.ul {
  text-decoration: underline;
}

.bold {
  font-weight: 600;
}

/*header*/
.container-topbar {
  padding: 5px 10px;
  font-size: 13px;
}

.navbar {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); /* Adjust the blur intensity */
  z-index: 2;
  position: relative;
}

.top-bar-contacts {
  padding: 5px 10px;
}

.top-bar-item {
  padding: 5px 0;
  min-width: 110px;
}

.top-bar-item-3 {
  min-width: 63px;
}

.navbar-nav {
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #000;
}
@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 8px;
  color: #000;
}

.dropdown-toggle::after {
  display: none;
}

li.search img {
  max-width: 120px;
}

@media (min-width: 992px) {
  li.search {
    margin-left: auto;
  }
}
.ico {
  max-width: 18px;
}

.container-topbar a {
  color: #fff;
  text-decoration: none;
  font-size: 10px;
}

/*custom helpers*/
.btn-wide {
  padding-left: 25px;
  padding-right: 25px;
}

/* Custom CSS to style dropdown like a select input */
.dropdown-toggle-select {
  display: block;
  width: 100%;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem !important;
  -moz-padding-start: calc(0.75rem - 3px);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-image: url(/assets/images/ico-select.svg);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-toggle-select:hover, .dropdown-toggle-select:focus, .dropdown-toggle-select:active, .btn.show {
  border: 1px solid #ced4da !important;
  color: #495057 !important;
  background-color: #fff !important;
}

.form-check-input:checked {
  background: #000;
}

/* Adjust arrow icon position to look like a select */
.dropdown-toggle-select::after {
  margin-left: auto;
  margin-right: 0;
}

.col-product-index-filters select, .col-product-index-filters .dropdown-toggle-select {
  max-height: 37px !important;
}

/* Ensure dropdown width is full like a select input */
.dropdown-menu {
  width: 100%;
}

/*mega menu*/
.dropdown-menu.mega-menu {
  left: 0; /* Align dropdown to the left */
  right: 0; /* Stretch dropdown to the right */
  width: 100vw; /* Full viewport width */
  top: 100%; /* Position below the nav */
}
.dropdown-menu.mega-menu .col-md-3 {
  padding: 0;
}

.mega-menu-content {
  padding: 1rem; /* Add some padding to the inner content */
}

.mega-menu-content img {
  width: 100%; /* keep all images full width */
}

/*keeps mm dropdown relative to left of viewport not the dropdown nav item*/
.nav-item.dropdown {
  position: static;
}

.multiply {
  mix-blend-mode: multiply;
}

.container-align {
  max-width: 1315px !important;
}

/*bg asset classes*/
.bg-80-pc {
  background-size: 60%;
}

.bg-70-pc {
  background-size: 60%;
}

.bg-60-pc {
  background-size: 60%;
}

.bg-50-pc {
  background-size: 50%;
}

.bg-40-pc {
  background-size: 40%;
}

.bg-30-pc {
  background-size: 30%;
}

.bg-cover {
  background-size: cover;
}

.bg-no-r {
  background-repeat: no-repeat;
}

.bg-cc {
  background-position: center center;
}

.bg-cr {
  background-position: center right;
}

.bg-cl {
  background-position: center left;
}

.bg-tr {
  background-position: top right;
}

.bg-br {
  background-position: bottom right;
}

.bg1 {
  background-image: url(/assets/images/bg-1.jpg);
}

.bg2 {
  background-image: url(/assets/images/bg-2.jpg);
}

.bg3 {
  background-image: url(/assets/images/bg-3.jpg);
}

.bg4 {
  background-image: url(/assets/images/bg-4.jpg);
}

.bg5 {
  background-image: url(/assets/images/bg-5.jpg);
}

.bg8 {
  background-image: url(/assets/images/bg-8.jpg);
}

.bg10 {
  background-image: url(/assets/images/bg-10.png);
}

.bg12 {
  background-image: url(/assets/images/bg-12.jpg);
}

.bg13 {
  background-image: url(/assets/images/bg-13.jpg);
}

.product-code {
  color: #969696;
  font-size: 12px;
  margin-bottom: 3px;
}

/*list icons*/
li.icon {
  padding-left: 25px;
  margin-bottom: 5px;
}

li.icon-styles {
  background: url(/assets/images/ico-styles.svg) no-repeat center left;
  background-size: 20px;
}

li.icon-colours {
  background: url(/assets/images/ico-colours.svg) no-repeat center left;
  background-size: 20px;
}

/*content blocks*/
.pill-outline {
  display: inline-block;
  color: #969696;
  padding: 5px 18px;
  border: 1px solid #969696;
  border-radius: 30px;
  font-size: 13px;
  margin-bottom: 10px;
}
.pill-outline p, .pill-outline h2, .pill-outline h3, .pill-outline h4, .pill-outline h5 {
  margin-bottom: 0;
}

.pill-solid {
  display: inline-block;
  color: #fff;
  padding: 12.5px 25px;
  border-radius: 40px;
  margin-bottom: 20px;
  min-width: 220px;
}
.pill-solid p {
  margin-top: -5px;
}
.pill-solid p, .pill-solid h1, .pill-solid h2, .pill-solid h3, .pill-solid h4, .pill-solid h5 {
  margin-bottom: 0;
}

.block-content {
  margin-top: 30px;
}
.block-content a.underline {
  border-bottom: 1px solid;
  font-weight: 400;
}
.block-content .btn {
  display: table;
  margin-bottom: 20px;
}

.container-cover--home {
  min-height: 764px;
  background: url(/assets/images/home-cover.jpg) no-repeat center center;
  z-index: 1;
  position: relative;
  background-size: cover;
}
@media (min-width: 768px) {
  .container-cover--home {
    padding-top: 83px;
    margin-top: -83px;
  }
}

.container-cover--subpage {
  min-height: 380px;
  z-index: 1;
}

.container-intro {
  position: relative;
}
.container-intro .av {
  max-width: 140px;
}
@media (min-width: 992px) {
  .container-intro .av {
    max-width: 220px;
  }
}
.container-intro .sig {
  position: absolute;
  bottom: 10px;
  right: 10px;
  max-width: 230px;
}

.bg-cover-1 {
  background-image: url(/assets/images/bg-cover-1.jpg);
}

.row-4-col {
  min-height: 480px;
}
@media (min-width: 992px) {
  .row-4-col .btn {
    position: absolute;
    bottom: 20px;
  }
}

.row-4-col p {
  font-size: 13px;
  margin-bottom: 5px;
}

.pallette {
  max-width: 900px;
  margin-top: 120px;
}

.colour-option {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
  display: block;
  border: 3px solid #fff;
}
@media (min-width: 992px) {
  .colour-option {
    height: 36px;
    width: 36px;
    margin-right: 15px;
  }
}

.color-sample {
  height: 120px;
  width: 100%;
}

/*breadrumb*/
.container-breadcrumb {
  padding: 10px;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.container-breadcrumb .active {
  font-weight: 600;
}
.container-breadcrumb .icon-chevron {
  max-width: 18px;
}
.container-breadcrumb ul {
  margin: 0;
}
.container-breadcrumb li {
  padding-right: 5px;
  color: #989898;
}

/*colour samples*/
.container-samples .new {
  visibility: hidden;
}
.container-samples .is-new {
  visibility: visible;
}

/*footer*/
.socials img {
  max-width: 40px;
}

.container-footer-c2a {
  background: url(/assets/images/bg-footer-c2a.jpg) no-repeat center center;
  background-size: cover;
}
.container-footer-c2a h1, .container-footer-c2a h2, .container-footer-c2a h3, .container-footer-c2a h4, .container-footer-c2a h5 {
  color: #fff;
}

.container-footer li {
  margin-bottom: 3px;
}
.container-footer .col-logos img {
  width: 16%;
  margin-right: 5px;
}
@media (min-width: 576px) {
  .container-footer .col-logos img {
    max-width: 75px;
  }
}
.container-footer .socials a {
  padding-right: 5px;
}
.container-footer .legal a {
  padding-left: 10px;
}